<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" type="text/css" href="{$publicDir}/css/pure-min.css" />
	<link rel="stylesheet" type="text/css" href="{$publicDir}/css/nittro.min.css" />
	<link rel="stylesheet" type="text/css" href="{$publicDir}/css/main.css" />

	<script type="text/javascript" src="{$publicDir}/js/nittro.min.js" async defer></script>

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
	<div class="flashes" n:snippet="flash">
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
			<div class="title">{$flash->title}</div>
			<div class="description">{$flash->message}</div>
		</div>
	</div>

	<div class="layout" n:snippet="body">
		<div class="nav pure-u">
			<div class="profile box-3">
				<a n:href="refresh!">{_ app.link.refresh}</a>

				<div class="profile-picture">
					<img src="http://hollywoodneuz.us/wp-content/uploads/2013/07/Leonardo-Dicaprio-leonardo-dicaprio-19374229-900-902.jpg"/>
				</div>
				<div class="name">{$user->getIdentity()->fullName}</div>
				<a class="small" n:href="logout!">{_ app.link.logout}</a>
			</div>

			<div class="nav-inner" n:snippet="menu">
				<div class="pure-menu menu">
					<ul class="pure-menu-list menu-block">
						<li class="pure-menu-heading">{_ app.menu.projects}</li>
                        {form addProjectForm, 'class' => 'pure-form'}
                            {input name}
                            {input submit}
                        {/form}
						{snippet projects}
							{foreach $projects as $pr}
								<li class="pure-menu-item menu-item">
									<a n:href="Homepage:list $pr->getId()" class="pure-menu-link menu-link {isset($projectId) && $pr->getId() == $projectId ? "active" : ""}"><span class="email-label-personal"></span>{$pr->getName()}</a>
								</li>
							{/foreach}
						{/snippet}
					</ul>
				</div>
				<div class="pure-menu menu">
					<ul class="pure-menu-list menu-block">
						<li class="pure-menu-heading">{_ app.menu.tags}</li>
                        {form addTagForm, 'class' => 'pure-form'}
                            {input name}
                            {input submit}
                        {/form}
                        {snippet tags}
                            {foreach $tags as $tg}
								<li class="pure-menu-item menu-item">
									<div class="tag-name menu-link">{$tg->getName()}</div>
									<a class="delete-link" n:href="removeTag! $tg->getId()">{_ app.link.remove}</a>
								</li>
                            {/foreach}
                        {/snippet}
					</ul>
				</div>
			</div>
		</div>

		<div class="main">
            {include content}
		</div>
	</div>

	{block scripts}
	<script type="application/javascript" src="{$publicDir}/js/main.js"></script>
    {/block}
</body>
</html>
