{layout "../@layout.latte"}

{block content}
    <div class="content-header" n:snippet="header">
        {include header}
    </div>
    <div class="content-body"  n:snippet="content">
        {include body}
    </div>
{/block}