{block header}
	<div class="custom-head">
		
	</div>
	<div class="actions">
		<a class="delete-link" n:href="removeProject! $projectId">{_ app.link.removeProject}</a>
		<div class="button-link green">
			{control todoModal:link}
		</div>
	</div>
{/block}
{block body}
<div class="list" n:snippet="list">
	{if !empty($todos)}
		<div n:foreach="$todos as $td" class="todo-item">
			<div class="todo-body">
				<div class="title">
					<div class="name">{$td->getName()}</div>
					<div class="tag">{$td->getTag()->getName()}</div>
				</div>
				<div class="description">
					{$td->getDescription()}
				</div>
				<div class="deadline">
					{_ app.todo.to} {$td->getDeadline()}
				</div>
			</div>
			<div class="done">
			</div>
			<a class="remove" n:href="removeTodo! $td->getId()">{_ app.link.remove}</a>
		</div>
	{else}
		<div class="info-title">{_ app.content.noTodosHere}</div>
	{/if}


</div>
{control todoModal}
