<div n:snippet="modal">
    <div n:class="modal-overlay, $class, $id, $active ? active">
        <div n:class="modal, $active ? 'active loaded' : loading">
            <div class="close-modal">
            </div>
            <div n:class="modal-content">
                {if $active}
                    {block content /}
                {/if}
            </div>
        </div>
    </div>
</div>

