.box(50);

.box(@n, @i: 1) when (@i =< @n) {
  .box-@{i} {
    padding: (@i * 10px);
  }
  .box(@n, (@i + 1));
}

.info-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 19px;
  color: @font-grey;
}