//colors
@grey-border: #f3f3f3;
@green: #65c178;
@white: #fff;
@red: #fe6e65;
@blue: #6fcadc;
@font-grey: #909090;
@font-color: #505050;

body {
  color: @font-color;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: #7F8593;

  &.small {
    font-size: 13px;
  }
}

.layout {
  .display(flex);
  .flex-direction(row);
  height: 100vh;
}

.nav {
  height: 100%;
  width: 320px;
  text-align: center;
  border-right: 1px solid @grey-border;
  .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
  }
  &.active {
    height: 80%;
  }
}

.main {
  .display(flex);
  .flex(1 1 auto);
  .flex-direction(column);

  .content-header {
    min-height: 50px;
    border-bottom: 1px solid @grey-border;
    padding: 20px;
    .display(flex);
    .flex-direction(row);
    .custom-head {
      .display(flex);
      .flex(1 0 auto);
    }
  }
  .content-body {
    position: relative;
    .display(flex);
    .flex-direction(column);
    .flex(1 1 auto);
  }
}
