{layout $control->getLayout()}

{block content}
    {form form, 'class' => 'pure-form pure-form-aligned left add-todo-form'}
        <legend>{_ app.section.addTodo}</legend>
        <div class="pure-control-group">
            {label name /}
            {input name}
        </div>
        <div class="pure-control-group">
            {label deadline /}
            {input deadline}
        </div>
        <div class="pure-control-group">
            {label description /}
            {input description}
        </div>
        <div class="pure-control-group">
            {label tag /}
            {input tag}
        </div>
        <div class="pure-controls">
            {input submit, 'class' => 'pure-button pure-button-primary'}
        </div>
    {/form}
{/block}