<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="{$publicDir}/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{$publicDir}/css/pure-min.css" />
    <link rel="stylesheet" type="text/css" href="{$publicDir}/css/nittro.min.css" />

    <script type="text/javascript" src="{$publicDir}/js/nittro.min.js" async defer></script>
    <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
    <div class="flashes" n:snippet="flash">
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    </div>

    <div class="layout" n:snippet="body">
        {include content}
    </div>
    {block scripts}
        <script type="application/javascript" src="{$publicDir}/js/main.js"></script>
    {/block}
</body>
</html>
