{block content}
<div class="sign-form sign-in">
    {form signInForm, 'class' => 'pure-form pure-form-stacked'}
        <legend>
            <span class="title">{_ app.section.login}</span>
            <a n:href="Sign:up">{_ app.link.signUp}</a>
        </legend>
        <fieldset>
            {label login /}
            {input login}
            {label password /}
            {input password}
            {input submit}
        </fieldset>
    {/form}
</div>