{block content}
<div class="sign-form sign-up">
    {form signUpForm, 'class' => 'pure-form pure-form-stacked'}
        <legend>
            <span class="title">{_ app.section.registration}</span>
            <a n:href="Sign:in">{_ app.link.signIn}</a>
        </legend>
        <fieldset>
            {label fullName /}
            {input fullName}
            {label login /}
            {input login}
            {label password /}
            {input password}
            {label password2 /}
            {input password2}
            {input submit}
        </fieldset>
    {/form}
</div>
