.flash {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  background: #FFF;
  z-index: 99;
  box-shadow: 0 2px 5px -1px #ccc;
  .title {
    font-weight: 700;
  }

  &.error {
    .title {
      color: @red;
    }
  }

  -moz-animation: fadeOut .3s ease-in 3s forwards;
  -webkit-animation: fadeOut .3s ease-in 3s forwards;
  -o-animation: fadeOut .3s ease-in 3s forwards;
  animation: fadeOut .3s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}