.pure-form {
  &.pure-form-aligned {
    .pure-control-group {
      label {
        width: 5em;
      }
    }

    &.left {
      label {
        text-align: left;
      }
    }
    .pure-controls {
      margin: 0.7em 0 0 6.2em;
    }
  }
}