.spinner {
  top: -999px;
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -ms-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}

.nittro-transition-fade {
  position: relative;
  &.nittro-transition-out,
  &.nittro-transition-middle {
    opacity: .4 !important;
    &:after {
      content: "";
      position: absolute;
      opacity: 1;
      .translate(-50%, -50%);
      top: 50%;
      left: 50%;
      display: inline-block;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 5px solid @green;
      border-color: @green transparent @green transparent;
      animation: spinner-animation 1.2s linear infinite;
    }
  }
  &.nittro-transition-in {
    opacity: 0;
  }
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}