.menu {

  border-top: 1px solid @grey-border;
  .menu-block {
    margin: 30px 15px;
  }

  .menu-item {
    .display(flex);
    .align-items(center);
    margin: 5px 0;

    .menu-link {
      border-radius: 4px;
      .display(flex);
      .flex(1 1 auto);

      &.active {
        background-color: @green;
        color: @white;
      }
    }

    .delete-link {
      margin-left: 10px;
    }
  }
}