@button-bg: #0D52E9;
@speed: 0.6s;
@closeIconSpeed: .2s;
@delay: (@speed * .5);
@easing: cubic-bezier(.55,0,.1,1);
@spinnerSize: 64px;

a[data-modal] {
  cursor: pointer;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  min-width: 600px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0, 0.1);
  backface-visibility: hidden;
  transform: scale(1.2);
  transition: all @speed @easing;

  .close-modal {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 20px;
    opacity: 0.3;
    width: 32px;
    height: 32px;
    backface-visibility: hidden;
    transition: opacity @closeIconSpeed @easing, transform @closeIconSpeed @easing;
    &:hover {
      opacity: 1;
    }
    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  .modal-content {
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity @speed @easing;
    transition-delay: @delay;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);

    .modal-content {
      opacity: 1;
    }

  }
  &.loading {
    &:after {
      content: "";
      position: absolute;
      opacity: 1;
      .translate(-50%, -50%);
      top: calc(~"50% - "@spinnerSize / 2);
      left: calc(~"50% - "@spinnerSize / 2);
      display: inline-block;
      width: @spinnerSize;
      height: @spinnerSize;
      border-radius: 50%;
      border: 5px solid @green;
      border-color: @green transparent @green transparent;
      animation: spinner-animation 1.2s linear infinite;
    }
  }
}

@media only screen and (max-width: 39.9375em) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    padding: 0 !important;
  }

  .close-modal {
    right: 20px !important;
  }
}

@media only screen and (min-width: 40em) {

  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0,0,0 , 0.6);
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transition: opacity @speed @easing, visibility @speed @easing;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}