.profile {
  .profile-picture {
    height: 72px;
    width: 72px;
    overflow: hidden;
    .border-radius(50%);
    margin: 30px auto;
    img {
      display: block;
      width: 72px;
      height: auto;
    }
  }
  .profile-name {
    font-weight: bold;
  }

}