.sign-form {
  .display(flex);
  .flex-direction(column);

  position: absolute;
  top: 50%;
  left: 50%;
  .translate(-50%, -50%);

  legend {
    a {
      margin-left: 40px;
    }
  }

  form {
    input, label {
      width: 100%;
    }
  }
  .sign-up-link {
    margin: 50px auto;
  }
}