.add-todo-form {

}

.list {
  .display(flex);
  .flex-direction(column);
  .flex(1 1 auto);
  .todo-item {
    .display(flex);
    .align-items(center);
    padding: 20px;
    .todo-body {
      .display(flex);
      .flex-direction(column);
      .flex(1 1 auto);
      .title {
        .display(flex);
        .align-items(center);
        .name {
          font-weight: bold;
        }
        .tag {
          margin-left: 20px;
          padding: 5px;
          background: @red;
          color: @white;
          border-radius: 4px;
        }
      }
      .description {
        font-size: 14px;
        color: @font-grey;
      }
      .deadline {
        font-size: 13px;
        margin-top: 4px;
        color: @font-grey;
      }
    }
  }
}

